.fighter-section {
  background-color: black;
  color: #fff;
  padding: 40px 40px 100px;
  display: flex; /* set the display to flex */
  flex-wrap: wrap; /* allow the items to wrap to a new line if needed */
  align-items: center; /* vertically center the items */
}

.fighter-section img {
  max-width: 40%;
  border-radius: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  flex-basis: 40%; /* set the width of the image to 40% of the container */
  margin-right: 40px;
  float: right; /* add some margin to the right of the image */
}
.fighter-section h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  font-family: "Saira";
}
.fighter-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Saira';
}

.fighter-section n1 {
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Saira';
}

.fighter-section p {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Saira';
  flex-basis: 60%; /* set the width of the text to 60% of the container */
}

.fighter-section form {
  margin-top: 20px;
}

.fighter-section .form-group {
  margin-bottom: 0;
}

.fighter-section button {
  background-color: #0C8054;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.fighter-section button:hover {
  background-color: #fff;
  color: #0C8054;
  border: 2px solid #0C8054;
}
.fighter-section::before {
  content: '';
  position: relative;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid white;
  transform: translateX(-50%);
}